<section class="container">
    <div class="project-canvas">
        {{#each model as |project|}}
            <div class="project-card" {{action 'transitionToProject' 1}}>
                <h2 class="project-card__title">{{project.title}}</h2>
                <p class="project-card__description">{{project.description}}</p>
                <p class="project-card__members">Total Members:<strong>{{project.total_members}}</strong></p>
            </div>
        {{/each}}
        {{create-project projectList=model}}
    </div>
</section>